{
  "presets": [
    ["es2015", { "modules": false }],
    "es2017",
    "react"
  ],
  "plugins": [
    "transform-runtime",
    "react-hot-loader/babel"
  ],
  "env": {
    "test": {
      "plugins": [
        "transform-es2015-modules-commonjs"
      ]
    },
    "production": {
      "plugins": [
        "transform-react-remove-prop-types"
      ]
    }
  }
}
